 .subscribe-button {
        background-color: rgb(200, 0, 0);
        color: white;
        border: none;
        height: 36px;
        width: 105px;
        border-radius: 2px;
        cursor: pointer;
        margin-right: 8px;
        transition: opacity 0.15s;
        
    }

    .subscribe-button:hover {
     opacity: 0.8;
    }

    .subscribe-button:active {
      opacity: 0.6;
    }

    .join-button:hover {
      background-color: rgb(41, 118, 211);
      color: white;
    }
    .join-button:active {
      opacity: 0.7;
    }


    .join-button {
      background-color: white;
      color: rgb(41, 118, 211);
      border-style: solid;
      border-width: 1px;
      border-color: rgb(41, 118, 211);
      height: 36px;
      width: 62px;
      border-radius: 2px;
      cursor: pointer;
      margin-right: 8px;
      transition: background-color 0.15s , color 0.15s;
    }


    .tweet-button:hover {
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
    }

    .tweet-button {
      background-color: rgb(2, 137, 255);
      color: white;
      border: none;
      height: 36px;
      width: 74px;
      border-radius: 18px;
      font-weight: bold;
      font-size: 15px;
      cursor: pointer;
      transition: box-shadow 0.15s;
    }

    .uber-button {
      background-color: black;
      color: white;
      height: 36px;
      width: 110px;
    }

    .amazon-button {
      background-color: rgb(255, 216, 20);
      height: 30px;
      width: 150px;
      border-radius: 15px;
      border: none;
    }

    .github-button {
      background-color: rgb(46, 164, 79);
      height: 36px;
      width: 85px;
      border: none;
      border-radius: 6px;
      color: white;
      font-weight: bold;
    }

    .bootstrap-button1 {
      background-color: rgb(121, 82, 179);
      height: 36px;
      width: 100px;
      border: none;
      border-radius: 4px;
      color: white;
      font-weight: bold;
    }

    .bootstrap-button2 {
      background-color: white;
      color: rgb(108, 117, 125);
      height: 36px;
      width: 100px;
      border-radius: 4px;
      border-color: rgb(108, 117, 125);
      border-width: 1px;
      margin-left: 4px;
    }

    .linkedin-button1 {
      background-color: rgb(10, 102, 194);
      color: white;
      font-weight: bold;
      height: 36px;
      width: 210px;
      border-radius: 18px;
      border: none;
    }

    .linkedin-button2 {
      background-color: white;
      color: rgb(10, 102, 194);
      height: 36px;
      width: 80px;
      border-radius: 18px;
      border-color: rgb(10, 102, 194)
    }